.note-board{
    background-image: url(../../websiteresources/wooden-cork-board-seamless-tileable-texture-29991843.jpg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:2%;
    border: 10px rgb(145, 101, 19) solid;
    color:black;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}
.idea-card{
    background-image: url('../../websiteresources/notepad.png');
    width: 45%;
    max-width:400px;
    min-width: 400px;
    height: 320px;
}
.checkmark-0, .checkmark-2{
    background:url('../../websiteresources/checkmark.png') no-repeat;
    width:50px;
    margin-left: 5px;
    margin-right: 15px;
    border:none;
}
.checkmark-1{
    background:url('../../websiteresources/checkmarkselected.png') no-repeat;
    width:50px;
    margin-left: 5px;
    margin-right: 15px;
    border:none;
}
.xmark-0, .xmark-1{
    background:url('../../websiteresources/xmark.png') no-repeat;
    width:50px;
    margin-left: 5px;
    margin-right: 15px;
    border:none;
}
.xmark-2{
    background:url('../../websiteresources/xmarkselected.png') no-repeat;
    width:50px;
    margin-left: 5px;
    margin-right: 15px;
    border:none;
}
.mark-containers{
    display: flex;
}
.checkmark-container{
    display: flex;
    font-size: 32px;
    min-width: 120px;
}
.xmark-container{
    display: flex;
    font-size: 32px;
}
.idea-header{
    height: 52px;
}
.idea-footer{
    margin-top: 5px;
    display: flex;
    height: 50px;
}
.idea-body{
    width:390px;
    height:208px;
    overflow: hidden;
    word-wrap: break-word;
    padding: 1%;
}
.checkmark-votes{
    color: green;
}
.xmark-votes{
    color: red;
}

.disabled{
    filter: grayscale(50%);
}

.idea-card{
    margin-bottom:7px;
}

.button-container{
    display: flex;
}
.board-containter{
    background-color: rgb(83, 66, 66);
    color:white;
    font-family: 'Playfair Display', serif;
}

.note-board-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.board-tabs-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.editBoardButton, .addIdeaButton{
    font-family: 'Permanent Marker', cursive;
}

.board-tab1, .board-tab2{
    margin-left: 4px;
    margin-right: 4px;
    font-family: 'Permanent Marker', cursive;
}
