.board-card-container{
    display:flex;
    flex-direction: column;
}

.board-card{
    display: flex;
    flex-direction: row;
}


.myboards-body{
    display: flex;
    flex-direction: column;
}

.myboardcard-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.myboardcard-container{
    width: 60%;
}

.latestidea-container{
    width: 30%;
}